
@{
    ViewData["Title"] = "Index";
}

<h2>Collaborative Filtering Recomendation System</h2>

<form asp-action="Recommendations" method="post">
    <div class="form-group row">
        <label class="form-control-label col-md-2" for="kvalue">Number of similar users</label>
        <div class="col-md-1">
            <input type="number" id="kValue" name="kValue" class="form-control" width="2" value="20">
        </div>
    </div>
    <div class="form-group row">
        <label class="form-control-label col-md-2" for="kvalue">Recommendation number</label>
        <div class="col-md-1">
            <input type="number" id="recommendationNumber" name="recommendationNumber"  class="form-control" width="2" value="50">
        </div>
    </div>
    <div class="form-group row">
        <label class="form-control-label col-md-2" for="kvalue">Training start date</label>
        <div class="col-md-2">
            <input type="date" id="startDate" name="startDate"  class="form-control" width="2" value="2010-12-01">
        </div>
    </div>
    <div class="form-group row">
        <label class="form-control-label col-md-2" for="kvalue">Training end date</label>
        <div class="col-md-2">
            @*<input type="date" id="endDate" name="endDate"  class="form-control" width="2" value="2011-10-31">*@
            <input type="date" id="endDate" name="endDate" class="form-control" width="2" value="2010-12-02">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Recommend</button>
</form>

