@{
    ViewData["Title"] = "UK Retail Dataset";
}

@*======================================================================================================*@
@*=========================     Dataset          =======================================================*@
@*======================================================================================================*@

<h2>UK Retail Dataset</h2>

<div id="gridInputdata"></div>


@*======================================================================================================*@
@*=========================     Styles           =======================================================*@
@*======================================================================================================*@
@section Styles{
    <link href="~/css/Kendoui2018R3/kendo.common.min.css" rel="stylesheet" />
    <link href="~/css/Kendoui2018R3/kendo.blueopal.min.css" rel="stylesheet" />
}

@*======================================================================================================*@
@*=========================     Scripts          =======================================================*@
@*======================================================================================================*@
@section Scripts{
    @*======================================================================================================*@
    @*=========================     Scripts Show Datasets===================================================*@
    @*======================================================================================================*@
    <script src="~/js/Kendoui2018R3/kendo.all.min.js"></script>

    <script>
                $(document).ready(function () {
                    $("#gridInputdata").kendoGrid({
                        dataSource: {
                            //data: [{ "id": 237393, "invoiceNo": 545680, "stockCode": "21793", "description": "CLASSIC FRENCH STYLE BASKET BROWN", "quantity": 16, "invoiceDate": "2011-03-06T11:27:00", "unitPrice": 5, "customerID": 15400, "country": "United Kingdom" }, { "id": 237394, "invoiceNo": 545680, "stockCode": "21878", "description": "PACK OF 6 SANDCASTLE FLAGS ASSORTED", "quantity": 72, "invoiceDate": "2011-03-06T11:27:00", "unitPrice": 0, "customerID": 15400, "country": "United Kingdom" }, { "id": 237395, "invoiceNo": 545680, "stockCode": "21718", "description": "RED METAL BEACH SPADE ", "quantity": 20, "invoiceDate": "2011-03-06T11:27:00", "unitPrice": 1, "customerID": 15400, "country": "United Kingdom" }, { "id": 237396, "invoiceNo": 545680, "stockCode": "21715", "description": "GIRLS VINTAGE TIN SEASIDE BUCKET", "quantity": 32, "invoiceDate": "2011-03-06T11:27:00", "unitPrice": 2, "customerID": 15400, "country": "United Kingdom" }, { "id": 237397, "invoiceNo": 545680, "stockCode": "85099F", "description": "JUMBO BAG STRAWBERRY", "quantity": 50, "invoiceDate": "2011-03-06T11:27:00", "unitPrice": 1, "customerID": 15400, "country": "United Kingdom" }, { "id": 237398, "invoiceNo": 545681, "stockCode": "85150", "description": "LADIES & GENTLEMEN METAL SIGN", "quantity": 12, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 2, "customerID": 16923, "country": "United Kingdom" }, { "id": 237399, "invoiceNo": 545681, "stockCode": "21870", "description": "I CAN ONLY PLEASE ONE PERSON MUG", "quantity": 6, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237400, "invoiceNo": 545681, "stockCode": "22640", "description": "SET OF 4 NAPKIN CHARMS 3 KEYS ", "quantity": 9, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 2, "customerID": 16923, "country": "United Kingdom" }, { "id": 237401, "invoiceNo": 545681, "stockCode": "22266", "description": "EASTER DECORATION HANGING BUNNY", "quantity": 5, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 0, "customerID": 16923, "country": "United Kingdom" }, { "id": 237402, "invoiceNo": 545681, "stockCode": "22293", "description": "HANGING CHICK GREEN DECORATION", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237403, "invoiceNo": 545681, "stockCode": "22292", "description": "HANGING CHICK  YELLOW DECORATION", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237404, "invoiceNo": 545681, "stockCode": "85188A", "description": "GREEN METAL SWINGING BUNNY", "quantity": 6, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 0, "customerID": 16923, "country": "United Kingdom" }, { "id": 237405, "invoiceNo": 545681, "stockCode": "21383", "description": "PACK OF 12 STICKY BUNNIES", "quantity": 6, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 0, "customerID": 16923, "country": "United Kingdom" }, { "id": 237406, "invoiceNo": 545681, "stockCode": "21390", "description": "FILIGRIS HEART WITH BUTTERFLY", "quantity": 6, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237407, "invoiceNo": 545681, "stockCode": "22251", "description": "BIRDHOUSE DECORATION MAGIC GARDEN", "quantity": 2, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237408, "invoiceNo": 545681, "stockCode": "22079", "description": "RIBBON REEL HEARTS DESIGN ", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }, { "id": 237409, "invoiceNo": 545681, "stockCode": "22078", "description": "RIBBON REEL LACE DESIGN ", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 2, "customerID": 16923, "country": "United Kingdom" }, { "id": 237410, "invoiceNo": 545681, "stockCode": "47567B", "description": "TEA TIME KITCHEN APRON", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 5, "customerID": 16923, "country": "United Kingdom" }, { "id": 237411, "invoiceNo": 545681, "stockCode": "21155", "description": "RED RETROSPOT PEG BAG", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 2, "customerID": 16923, "country": "United Kingdom" }, { "id": 237412, "invoiceNo": 545681, "stockCode": "21156", "description": "RETROSPOT CHILDRENS APRON", "quantity": 3, "invoiceDate": "2011-03-06T11:28:00", "unitPrice": 1, "customerID": 16923, "country": "United Kingdom" }]
                            //type: "json",
                            transport: {
                                read: {
                                    url: "@Url.Action("Read")",
                                    dataType: "json",
                                    type: "GET",
                                    contentType: "application/json; charset=utf-8",
                                },
                            },
                            schema: {
                                model: {
                                    //id: "Id",
                                    fields: {
                                        id: { type: "number", editable: false },
                                        invoiceNo: { type: "number", editable: false },
                                        stockCode: { type: "string", editable: false },
                                        description: { type: "string", editable: false },
                                        quantity: { type: "number", editable: false },
                                        invoiceDate: { type: "date", editable: false },
                                        unitPrice: { type: "number", editable: false },
                                        customerID: { type: "number", editable: false },
                                        country: { type: "string", editable: false },
                                    }
                                }
                            },
                            error: function (e) {
                                alert(e.errorThrown);
                            },
                            pageSize: 20
                        },
                        groupable: true,
                        sortable: true,
                        resizable: true,
                        navigatable: true,
                        scrollable: false,
                        filterable: true,
                        reorderable: true,
                        pageable: {
                            refresh: true,
                            pageSizes: true,
                            buttonCount: 5,
                            input: true,
                            numeric: false
                        },
                        columns: [{
                            field: "id",
                            title: "Id",
                            width: 40
                        }, {
                            field: "invoiceNo",
                            title: "Invoice No"
                        }, {
                            field: "stockCode",
                            title: "Stock Code"
                        }, {
                            field: "description",
                            title: "Description"
                        }, {
                            field: "quantity",
                                title: "Quantity",
                                width: 30
                        }, {
                            field: "invoiceDate",
                            title: "Invoice Date"
                        }, {
                            field: "unitPrice",
                                title: "Unit Price",
                            width: 30
                        }, {
                            field: "customerID",
                            title: "Customer Id"
                        }, {
                            field: "country",
                            title: "Country"
                        }
                        ],
                                        excel: {
                            allPages: true
                        },
                    });
                });
    </script>
 }




